.widget_custom_html {
  display: block;
}

/*Store front sorting */
.storefront-sorting {
  display: none;
}

/* Mobile filter */
button.show_filter {
  margin-bottom: 1em;
  display: block;
  width: 100%;
  background-color: $light-gray;
  border: 1px solid $gray;
  color: $dark-gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: $font-weight-normal;
  height: 40px;
  padding: 0 1em;
  &:hover {
    background-color: $lighter-gray;
  }
  &:active {
    background-color: $lighter-gray;
  }
}
/* Mobile filter end */

/* Product Archive */
.col-full {
  /* Header */
  header.woocommerce-products-header {
    align-items: unset;
    padding: 2em;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1em;

    .term-description {
      width: 100%;
      text-align: left;
      margin-top: 1em;
    }
  }
  /* Header end */
  #main.site-main {
    .archive-top-section {
      display: grid;
      grid-template-columns: 1fr;
      .archive-top-section-left {
        #archive-top-filters.filter-wrapper {
          display: none;
          grid-template-columns: 1fr;
    
          div.widget_custom_html {
            display: none;
          }
        }
      }
      .archive-top-section-right {
        .show_cat {
          width: 100%;
          &:hover {
            background-color: $lighter-gray;
          }
          &:active {
            background-color: $lighter-gray;
          }
        }
        .product-categories {
          grid-template-columns: 1fr 1fr;
          .cat-item {
            width: 100%;
            margin-bottom: 0;
            margin-right: 0;
          }
        }
      }
    }
    /* Product archive list */ 
    @include mobile_product_archive_list;
  }
}
/* Product archive end */

/* Sidebar navigation */
#secondary {
  display: none;
}

/* Elementor woocommerce product feed */
.elementor-section .elementor-products-grid {
  @include mobile_product_archive_list;
}