.widget_custom_html {
  display: block;
}

/*Store front sorting */
.storefront-sorting {
  display: none;
}

/* Mobile filter */
button.show_filter {
  margin: 1.4em 0;
  display: block;
  width: 100%;
  background-color: #FFF;
  border: 1px solid $primary;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    background-color: #FFF;
    border: 1px solid $primary;
    color: $primary;
  }
  &:active {
    background-color: $primary;
    color: #FFF;
    border: 1px solid $primary;
  }
}
/* Mobile filter end */

/* Product Archive */
.col-full {
  /* Header */
  header.woocommerce-products-header {
    align-items: unset;
    padding: 2em;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1em;

    .term-description {
      width: 100%;
      text-align: left;
      margin-top: 1em;
    }
  }
  /* Header end */
  #main.site-main {
    #archive-top-filters.filter-wrapper {
      display: none;
      grid-template-columns: 1fr 1fr;

      div.widget_custom_html {
        display: none;
      }
    }
    /* Product archive list */ 
    @include mobile_product_archive_list;
  }
}
/* Product archive end */

/* Sidebar navigation */
#secondary {
  display: none;
}

/* Elementor woocommerce product feed */
.elementor-section .elementor-products-grid {
  @include mobile_product_archive_list;
}