// Product archive

/* Product archive header */
.woocommerce-products-header {
  padding: 5em;
  @include flexbox;
  justify-content: space-between;
  background-color: $light-gray;
  margin-bottom: 2%;

  .term-description {
    width: 40%;
  }
  p, h2, h3, h4, h5, h6 {
    a {
      @include text-link-style;
    }
  }  
}



/* Breadcrumbs */
.storefront-breadcrumb {
  margin: 0;
}



/* Content wrapper */
#primary {
  .site-main {
    p, h2, h3, h4, h5, h6 {
      a {
        @include text-link-style;
      }
    }
    #archive-top-filters {
      margin-bottom: 1em;
    }
    .filter-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1em;
    
      .widget_product_categories, .widget_custom_html {
        display: none;
      }
    
      .widget {
        width: 100%;
        margin: 0;
    
        &.widget_custom_html {
          width: 100%;
        }
    
        form {
          margin: 0;
        }
      }
    }
    /* Product archive list */ 
    @include product_archive_list;
  }
}
/*Content wrapper end*/



/* Storefront sorting */
.woocommerce-pagination,
.single.single-product.woocommerce-page .onsale,
.single.single-product.woocommerce-page .badge,
.widget_categories ul li:before,
.show_filter {
  display: none;
}



/* Archive top widgets */
.select2-container--open{
  .select2-dropdown--below {
    .select2-search--dropdown.select2-search--hide {
      display: block;
    }
  }
}



/* Filter selecters */
span.select2.select2-container.select2-container--default * {
  height: 40px;
  line-height: 40px;
}

.woocommerce-ordering {
  float: right;
  margin: 0;
  padding: 0;
}
.storefront-sorting {
  margin: 5% 0 0 0;
  &:first-of-type {
    display: none;
  }
}
body .select2-container--default .select2-results__option--highlighted[aria-selected], body .select2-container--default .select2-results__option--highlighted[data-selected] {
     background-color: $primary;
}
//archive top widgets end



//load more button
.loadmore_button {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-top: 2%;
  display: block;
}
//load more button end



// Progress bar
  #progress-bar {
    display: block;
    width: 33%;
    height: 4px;
    background: $lighter-gray;
    border-radius: 20px;

    &::-moz-progress-bar {
      background: $primary;
      border-radius: 20px;
    }
    &::-webkit-progress-bar {
      background: transparent;
    }
    &::-webkit-progress-value {
      background: $primary;
      border-radius: 20px;
    }
  }
  .woocommerce-result-count {
    margin-top: 1em;
    float: none;
    position: absolute;
  }
// progress bar end



/* Elementor woocommerce product feed */
.elementor-section .elementor-products-grid {
  @include product_archive_list;
}
