//archive sidebar
#secondary {
    .show_sidebar_filter, .show_sidebar_cat, .woocommerce-widget-layered-nav {
      display: none;
    }
  }
  
  .widget_layered_nav {
    li:before {
      color: $gray;
    }
    .chosen:before {
      color: $primary;
      opacity: 1;
    }
  }
  
  
  .woocommerce-widget-layered-nav-list {
    a {
      margin-left: -25px;
      padding-left: 25px;
      position: relative;
      text-decoration: none;
    }
  
  }
  
  .widget-area .widget_product_categories ul li{
    padding: 0;
    a {
        @include hover-link-style;
    }
    &.cat-item {
        .icon-toggle {
            padding: 10px;
            cursor: pointer;
            color: $black;
            text-decoration: none;
            @include hover-link-style;
            &:hover {
              text-decoration: none;
            }
          }       
   
        a {
            text-transform: uppercase;
            font-weight: $font-weight-normal;
        }     
        .children{
            margin-top: 1em;
            display: none;
            span {
              display: none;
            }
            .cat-item {
                margin-bottom: 1em;
                a {
                    font-weight: $font-weight-light;
                    text-transform: none;              
                }
                a::after {
                     content: none;
                }
                &::before {
                  content: ' ';
                  margin-left: 0;
                  margin-right: 10px;
                  background: $gray;
                  width: 10px;
                  height: 1px;
                  margin-top: 12px;
                }
                .children {
                  .cat-item {
                    &::before {
                      content: ' ';
                      margin-left: 0;
                      margin-right: 10px;
                      background: $gray;
                      width: 25px;
                      height: 1px;
                      margin-top: 12px;
                    }  
                  }
                }
            }
        }    

    } 
    &.current-cat {        
        a {
            font-weight: $font-weight-bold;
        }
    } 
    &.current-cat-parent {
        span {
          .icon-toggle {
            transform: rotate(-180deg);
          }
        }
        .children {
          display: block;
            .current-cat {
                a {
                    font-weight: $font-weight-bold;
                }
                .children {
                  a {
                    font-weight: $font-weight-light;
                  }
                }                
            }
        }

    }
    &.active {
        .children{
            display: block;
        }
    }     
    &.cat-item::before {
      content: none;
    }
  }
  //archive sidebar end