//archive sidebar
#secondary {
    .show_sidebar_filter, .show_sidebar_cat, .woocommerce-widget-layered-nav {
      display: none;
    }
  }
  
  .widget_layered_nav {
    li:before {
      color: $gray;
    }
    .chosen:before {
      color: $primary;
      opacity: 1;
    }
  }
  
  
  .woocommerce-widget-layered-nav-list {
    a {
      margin-left: -25px;
      padding-left: 25px;
      position: relative;
      text-decoration: none !important;
    }
  
  }
  
  .widget_product_categories ul li{
    a {
        @include hover-link-style;
    }
  }
  //archive sidebar end