/* Archive Page */
//Header
.col-full .woocommerce-products-header {
  padding: 2em;
  flex-direction: column;
  align-items: flex-start;

  .page-title {
    margin: 0;
  }

  .term-description {
    width: auto;

    p {
      margin: 0;
    }
  }
}

/* Primary content */
#primary {
  width: 100%;
  #main.site-main {

    /* Filter */
    #archive-top-filters {
      grid-template-columns: repeat(4, 1fr);
  
      .widget_custom_html {
        display: block;
        grid-column: 1 / -1;
      }
  
      .widget_product_categories {
        width: 100%;
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        grid-column: 1 / -1;
  
        .product-categories {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
  
          li {
            padding-right: 2%;
            padding-left: 0;
            margin-bottom: 2%;
  
            a {
              border: 1px solid #aaa;
              border-radius: 4px;
              padding: 0.6em 1em;
              transition: all 0.3s ease;
              display: block;
              color: #999;
  
              &:focus {
                background-color: $lighter-gray;
              }
            }
          }
        }
      }
    }
    /* Filter end */

    /* Product archive list */ 
    @include tablet_product_archive_list;

    /* Loadmore button */
    .loadmore_button {
      margin: 0 auto;
    }
  }
}
/* Primary content end */

/* Sidebar navigation */
#secondary {
  display: none;
}

/* Elementor woocommerce product feed */
.elementor-section .elementor-products-grid {
  @include tablet_product_archive_list;
}
