@mixin tablet_product_archive_list {
    ul.products {
      @include reset_before_after;
        @media only screen and (min-width: 767px) {
            &.columns-4, &.elementor-grid {
                padding: 6px 6px 20px 6px;              
                grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
                grid-auto-flow: column;
                grid-auto-columns: minmax(270px, 1fr);
                overflow-x: auto;
              }
          }
      }
    }