/* Header */

#masthead {
  position: sticky;
  z-index: 999;
  background-color: $white;
  transition: 0.3s all;
    a {
      @include hover-link-style;
    }  
    //Mega menu current menu styling - start
    .navigation-header-content {
      width: inherit;
      max-width: 1400px;
      margin: auto;
      .storefront-primary-navigation {
        text-align: center;
        .menu {
          position: relative;
        }
        .menu-item {
          a {
            color: $black;
            text-decoration: none;
            padding: 2em 1em;
            &:hover {
              color: $primary;
              box-shadow: 0px -10px 0px -5px $primary inset;
            }
          }
          &.current-menu-item {
            a {
              box-shadow: 0px -10px 0px -5px $primary inset;
            }
            .menu-item {
              a {
                box-shadow: 0px 0px 0px 0px transparent inset;
              }
            }
          }
        }
        .menu-item-has-children {
          a::after {
            content: unset;
          }
          .sub-menu {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 5px 0px;
            border: 1px solid $light-gray;
            border-top: 0;
            background-color: $white;
            .menu-item  {
              a {
                text-transform: none;
                background-color: $white;
                font-weight: $font-weight-light;
                @include hover-link-style;
                padding: 10px 1em;
                &:hover {
                  box-shadow: 0px 0px 0px 0px transparent inset;
                }
              }
            }
          }
        }
        /* Mega menu */        
        .smm-mega-menu .smm-row div .widget div .menu {
          .menu-item {
            a {
              font-weight: $font-weight-light;
              @include hover-link-style;
              padding: 0;
              &:hover {
                box-shadow: 0px 0px 0px 0px transparent inset;
              }
            }
          }
          .menu-item-has-children {
            a {
              font-weight: $font-weight-normal;
              text-transform: uppercase;
            }
            &.current-menu-item {
              a {
                font-weight: $font-weight-normal-bold;
              }
            }
            .sub-menu {
              box-shadow: unset;
              border: 0;
              .menu-item {
                a {
                text-transform: unset;
                font-weight: $font-weight-light;
                }
              }
            }

          }  
        }
        /* Mega menu end*/ 
        .current-menu-item, .smm-mega-menu .smm-row div .widget div .menu .current-menu-item, .smm-mega-menu .smm-row div .widget div .menu .menu-item-has-children .sub-menu .current-menu-item, .menu-item-has-children .sub-menu .current-menu-item{
          a {
            font-weight: $font-weight-normal;
            box-shadow: 0px 0px 0px 0px transparent inset;
          }
          .sub-menu li a{
            font-weight: $font-weight-light;
          }
        }
      }     
    }    

    .header-wrapper {
      @include flexbox;
      justify-content: space-between;
      padding: 1em 0;
      position: relative;
      .image-logo {
        margin-right: 5em;

        img {
          max-height: 50px;
          width: auto;
        }
      }

      .header-search {
        .woocommerce-product-search {
          margin: 0;
        }
      }

        .header-cart {
          position: relative;

          .cart-product-amount {
            position: absolute;
            padding: 1px;
            width: 17px;
            background: #2f2d3200;
            color: $black;
            font-size: 11px;
            line-height: 14px;
            min-width: 13px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #2f2d32;
            top: -13px;
            right: -14px;
            height: 17px;
            font-weight: $font-weight-normal;
            z-index: 20;
          }

          i {
            font-size: $h4-font-size;
          }
        }
      }

}
#menu-background-overlay {
  display: none;
  background: $black; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}
