/* Page wrapper */

#page {
    max-width: 100%;
    margin: auto;
  	overflow-x: visible;
  }

  .site {
    background: $white;
  }

  /* Content wrapper */
  /* Container width | col-full */
  .col-full {
    width: inherit;
    max-width: 1400px;
    margin: auto;
  }

  /* Container width | Elementor pages */
  .elementor-page .site-content .col-full {
    max-width: 100%;
    padding: 0;
  }

  /* Woocmmerce layout */
  .woocommerce-products-header, .checkout, .woocommerce-notices-wrapper {
    margin-top: 2%;
  }
input {
  border-radius: $global-radius;
}

hr {
  margin: 0;
}
