.topbar {
    background-color: $black;
    color: $white;
    padding: 15px 0 15px 0;
    height: 50px;

    .topbar-wrapper {
      @include flexbox;
    }

    .selling-points {
        @include flexbox;
        flex-direction: row;
        justify-content: flex-start;
        flex: 50%;

        .topbar-selling-point {
            @include flexbox;
            font-weight: $font-weight-normal-bold;
            font-size: $font-size-base;
            padding-right: 40px;

            i {
                padding-right: 10px;
            }

            p {
                margin: 0;
                span {
                    white-space: nowrap;
                }
            }

            .selling-point-wrapper {
                .selling-point-title {
                    margin: 0;
                    font-size: $font-size-small;
                }
            }

        }
    }

    .top-menu {
        flex: 50%;

        .secondary-navigation {
          margin: 0;
          a {
            padding: 0 0 0 1em;
            color: $white;

            &:hover {
                color: $gray;
            }
          }
        }
    }
}
